<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erick.mapper.StudentMapper">

    <insert id="addStudent">
        insert into
            student(name, no, gender, phone, id_card, is_college, address, degree, graduation_date, clazz_id,
                    create_time, update_time)
        VALUES
            (#{name}, #{no}, #{gender}, #{phone}, #{idCard}, #{isCollege}, #{address}, #{degree}, #{graduationDate},
             #{clazzId}, #{createTime}, #{updateTime})
    </insert>

    <select id="getStudentsByPage" resultType="com.erick.pojo.Student">
        select * from student
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="degree != null">
                and degree = #{degree}
            </if>
            <if test="clazzId != null">
                and clazz_id = #{clazzId}
            </if>
        </where>
    </select>

</mapper>