<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erick.mapper.StudentMapper">

    <insert id="addStudent">
        insert into
            student(name, no, gender, phone, id_card, is_college, address, degree, graduation_date, clazz_id,
                    create_time, update_time)
        VALUES
            (#{name}, #{no}, #{gender}, #{phone}, #{idCard}, #{isCollege}, #{address}, #{degree}, #{graduationDate},
             #{clazzId}, #{createTime}, #{updateTime})
    </insert>
    
    <update id="update" parameterType="com.erick.pojo.Student">
        update student 
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="no != null and no != ''">
                no = #{no},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="degree != null and degree != ''">
                degree = #{degree},
            </if>
            <if test="idCard != null and idCard != ''">
                id_card = #{idCard},
            </if>
            <if test="isCollege != null">
                is_college = #{isCollege},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="graduationDate != null">
                graduation_date = #{graduationDate},
            </if>
            <if test="violationCount != null">
                violation_count = #{violationCount},
            </if>
            <if test="violationScore != null">
                violation_score = #{violationScore},
            </if>
            <if test="clazzId != null and clazzId != ''">
                clazz_id = #{clazzId},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from student where id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
    </delete>

    <select id="getStudentsByPage" resultType="com.erick.pojo.Student">
        select * from student
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="degree != null">
                and degree = #{degree}
            </if>
            <if test="clazzId != null">
                and clazz_id = #{clazzId}
            </if>
        </where>
        order by update_time desc
    </select>

</mapper>